@model CodeAcademyAttendanceSystem.Models.Teachers

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Adminpanel/Views/Shared/_AdminpanelLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Teachers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.teacher_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teacher_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teacher_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teacher_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teacher_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teacher_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teacher_surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teacher_surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teacher_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teacher_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teacher_photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teacher_photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teacher_first_login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teacher_first_login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genders.gender_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genders.gender_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role_Types.role_types_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role_Types.role_types_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
