@model CodeAcademyAttendanceSystem.Models.Lesson_Times

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Adminpanel/Views/Shared/_AdminpanelLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Lesson_Times</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.lesson_times_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lesson_times_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lesson_times_start_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lesson_times_start_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lesson_times_end_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lesson_times_end_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group_Schedule.group_schedule_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group_Schedule.group_schedule_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
