@model CodeAcademyAttendanceSystem.Models.Group_Schedule

@{
    ViewBag.Title = "Dərs Günü Məlumatlarını Redaktə Et";
    Layout = "~/Areas/Adminpanel/Views/Shared/_AdminpanelLayout.cshtml";
}

<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"> <a href="@Url.Action("Index", "Dashboard", new { Area="Adminpanel"})" title="Ana Səhifəyə Get" class="tip-bottom"><i class="icon-home"></i> Ana Səhifə</a>  <a href="@Url.Action("Index", "GroupSchedule", new { Area="Adminpanel"})" title="Dərs Günü Redaktə Et / Sil" class="tip-bottom"><i class="icon-calendar"></i> Dərs Günü Redaktə Et / Sil</a> <a href="@Url.Action("Edit", "GroupSchedule", new { Area="Adminpanel", id=@Model.group_schedule_id})" title="@Model.group_schedule_name" class="tip-bottom"><i class="icon-calendar"></i> @Model.group_schedule_name</a></div>
    </div>
    <!--End-breadcrumbs-->
    <div class="container-fluid">
        <hr />
        <div class="row-fluid">
            <div class="span6">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Dərs Günü Məlumatları</h5>
                    </div>
                    <div class="widget-content nopadding">
                        @using (Html.BeginForm("Edit", "GroupSchedule", new { Area = "Adminpanel" }, FormMethod.Post, new { @class = "form-horizontal", name = "basic_validate", id = "basic_validate", novalidate = "novalidate" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            /*Aşağıda müəllimin id adresi mütləq tutulmalıdır*/
                            @Html.HiddenFor(model => model.group_schedule_id)
                            <div class="control-group required">
                                <label class="control-label">Dərs Gününün Adı </label>
                                <div class="controls">
                                    @Html.EditorFor(model => model.group_schedule_name, new { htmlAttributes = new { @class = "span11", minlength = "2", maxlength = "50", required = "required" } })
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="controls">
                                    <input type="submit" value="Yadda Saxla" class="btn btn-success" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link rel="stylesheet" href="~/Areas/Adminpanel/Assets-Adminpanel/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Areas/Adminpanel/Assets-Adminpanel/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Areas/Adminpanel/Assets-Adminpanel/css/uniform.css" />
    <link rel="stylesheet" href="~/Areas/Adminpanel/Assets-Adminpanel/css/select2.css" />
    <link rel="stylesheet" href="~/Areas/Adminpanel/Assets-Adminpanel/css/matrix-style.css" />
    <link rel="stylesheet" href="~/Areas/Adminpanel/Assets-Adminpanel/css/matrix-media.css" />
    <link rel="stylesheet" href="~/Areas/Adminpanel/Assets-Adminpanel/font-awesome/css/font-awesome.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/assets/css/style.css" />
}
@section scripts {
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/jquery.min.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/jquery.ui.custom.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/bootstrap.min.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/jquery.uniform.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/select2.min.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/jquery.validate.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/matrix.js"></script>
    <script src="~/Areas/Adminpanel/Assets-Adminpanel/js/matrix.form_validation.js"></script>
}
